# Python
*.pyc
__pycache__/
*.egg-info*
dist/
env/
venv/
venv3/
.venv/
.pytest_cache

# JavaScript
bundle.js
*node_modules*
files_for_autograder_io/
*/var/*

# Virtual Machines
.vagrant/

# Text editors and IDEs
*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/
.idea

# macOS system files
*.DS_Store

# Google Drive and Dropbox
Icon
.dropbox*

# Passwords/Security (DO NOT REMOVE THIS OTHERWISE PASSWORDS AND DATA WILL LEAK)
.env
data/

#-------------------------------------------- Everything below added from Flutter --------------------------------------------

# Miscellaneous
*.class
*.log
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
